{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Artificial inteligence</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consectetur nesciunt dolores! Voluptatum sed dolores aliquid, illo excepturi praesentium deserunt ab vero modi id itaque minus fugit repellendus dolore. Iste!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/machine.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}